.img {
  background: url(../img.jpg);
}

.show {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.show button {
  width: 12rem;
  margin-top: 30px;
}
.show h1 {
  font-size: 3rem;
}
